#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define SYM   	1
#define NAV   	2
#define FXN		3
#define QWT		4
#define LGE		5
// Would love to have a greek layer :(

/ {
     macros {
	deg: deg {
	    label = "deg";
	    compatible = "zmk,behavior-macro";
	    #binding-cells = <0>;
	    bindings
				= <&macro_release &kp LSHFT>
				, <&macro_press   &kp LALT>
				, <&macro_tap     &kp KP_N0 &kp KP_N1 &kp KP_N7 &kp KP_N6>
				, <&macro_release &kp LALT>
				;
        };
	cut: cut {
	    label = "cut";
	    compatible = "zmk,behavior-macro";
	    #binding-cells = <0>;
	    bindings
				= <&macro_press   &kp LCTRL>
				, <&macro_tap     &kp X>
				, <&macro_release &kp LCTRL>
				;
        };
	cpy: cpy {
	    label = "cpy";
	    compatible = "zmk,behavior-macro";
	    #binding-cells = <0>;
	    bindings
				= <&macro_press   &kp LCTRL>
				, <&macro_tap     &kp C>
				, <&macro_release &kp LCTRL>
				;
        };
	pst: pst {
	    label = "pst";
	    compatible = "zmk,behavior-macro";
	    #binding-cells = <0>;
	    bindings
				= <&macro_press   &kp LCTRL>
				, <&macro_tap     &kp V>
				, <&macro_release &kp LCTRL>
				;
        };
	udo: udo {
	    label = "udo";
	    compatible = "zmk,behavior-macro";
	    #binding-cells = <0>;
	    bindings
				= <&macro_press   &kp LCTRL>
				, <&macro_tap     &kp Z>
				, <&macro_release &kp LCTRL>
				;
        };
	rdo: rdo {
	    label = "rdo";
	    compatible = "zmk,behavior-macro";
	    #binding-cells = <0>;
	    bindings
				= <&macro_press   &kp LCTRL>
				, <&macro_tap     &kp Y>
				, <&macro_release &kp LCTRL>
				;
        };
    };
	behaviors {
		mo_tog: behavior_mo_tog {
			compatible = "zmk,behavior-hold-tap";
			label = "mo_tog";
			#binding-cells = <2>;
			flavor = "hold-preferred";
			tapping-term-ms = <200>;
			bindings = <&mo>, <&tog>;
		};
		R1C4: R1C4 {								// . ,
			compatible = "zmk,behavior-mod-morph";
			label = "R1C4";
			#binding-cells = <0>;
			bindings = <&kp PERIOD>, <&kp COMMA>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};	
		R0C7: R0C7 {								// 8 deg
			compatible = "zmk,behavior-mod-morph";
			label = "R0C7";
			#binding-cells = <0>;
			bindings = <&kp KP_N8>, <&deg>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};	
		R0C8: R0C8 {								// 9 =
			compatible = "zmk,behavior-mod-morph";
			label = "R0C8";
			#binding-cells = <0>;
			bindings = <&kp KP_N9>, <&kp EQUAL>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};	
			R0C9: R0C9 {							// 0 ?
			compatible = "zmk,behavior-mod-morph";
			label = "R0C9";
			#binding-cells = <0>;
			bindings = <&kp KP_N0>, <&kp QMARK>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		bspc_del: bspc_del {							// BSPC DEL
			compatible = "zmk,behavior-mod-morph";
			label = "bspc_del";
			#binding-cells = <0>;
			bindings = <&kp BSPC>, <&kp DEL>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		R3C5: R3C5 {								// I want this to be bspc, del, or ctrl
			compatible = "zmk,behavior-hold-tap";
		    	label = "R3C5";
		    	#binding-cells = <2>;
		    	bindings = <&kp>, <&bspc_del>;
		    	tapping-term-ms = <200>;
		};
	    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -------------------------------------------------------------------------------------------------------------------------
// |    Q    |    C    |    H    |    P    |    V    |                   |    W    |    Y    |    O    |    J    |    Z    |
// |    R    |    S    |    N    |    T    |    .    |                   |    '    |    U    |    E    |    A    |    I    |
// |    X    |    M    |    L    |    D    |    ;    |                   |    -    |    F    |    K    |    G    |    B    |
//           |         |         |                                                           |         |         |
//                               |   ESC   |  SPACE  |                   |    x    |  ENTER  |
//                                         |         |  LSHFT  |    x    |  BSPC   |
//                                         |         |         |         |  layer  |
            bindings = <
    &kp Q     &kp C    &kp H     &kp P     &kp V                       	  &kp W     &kp Y     &kp O     &kp J     &kp Z
    &kp R     &kp S    &kp N     &kp T     &R1C4                	  &kp APOS  &kp U     &kp E     &kp A     &kp I
 &mt LGUI X   &kp M    &kp L     &kp D     &kp SEMI                       &kp MINUS &kp F     &kp K 	&kp G  	  &mt RGUI B
              &none    &none                                                                  &none  	&none
                               &lt FXN ESC &lt NAV SPACE                  &none     &mt LALT ENTER
                                           &none    &mt LSHFT TAB  &none     &R3C5 LCTRL BSPC
                                           &to(5) 	 &to(4)  &mo_tog 1 1 &to(0)     
            >;
        };

	// Symbonumeric layer
        sym {
			bindings = <
    &kp N1	&kp N2   &kp N3		&kp N4		&kp N5                         	&kp N6 	&kp N7		&R0C7     	&R0C8     	&R0C9
    &kp LBRC 	&kp LBKT &kp LPAR	&kp BSLH	&trans 			  	&trans 	&kp FSLH	&kp RPAR	&kp RBKT	&kp RBRC
    &kp GRAVE 	&kp LT   &kp ASTRK 	&kp PLUS	&trans                   	&trans 	&kp MINUS	&kp FSLH	&kp GT		&kp PIPE
              		&trans		&trans                                                                 		&trans  	&trans
                         		&trans    	&trans                        	&trans	&trans
                                           		&trans    &trans    	&trans	&trans
                                           		&trans    &trans    	&to(0)	&to(0)
            >;
        };

	// Navigation layer
        nav {
            bindings = <
&bt BT_CLR &kp K_APP &kp C_BRI_UP &kp C_VOL_UP &kp C_PREV              &kp PG_UP &kp HOME  &kp PSCRN &kp PAUSE_BREAK &bt BT_CLR
&none	&none	&none	&none	&kp C_PP                &kp INS   &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  
&udo      &rdo 	&kp C_BRI_DN &kp C_VOL_DN &kp C_NEXT              &kp PG_DN &kp END   &cut 	&cpy 	  &pst
              &trans    &trans                                                                &trans    &trans
                                  &trans    &trans                        &trans    &trans
                                            &trans   &trans   	&trans    &trans
                                            &trans   &trans     &to(0)    &trans
            >;
        };
		
	// Function key layer
		fxn {
            bindings = <
    &kp F1 	  &kp F2    &kp F3    &kp F4    &kp F5           			  &kp F6    &kp F7    &kp F8    &kp F9    &kp F10 
    &kp F11   &none 	&none  	  &none     &none                     	  &none   	&none     &none 	&none     &kp F12  
    &none     &none  	&none 	  &none 	&none           			  &none 	&none  	  &none  	&none  	  &none    
              &trans    &trans                                                                &trans    &trans
                                  &trans    &trans                        &trans    &trans
                                            &trans 	 &trans   	&trans    &trans
                                            &trans   &trans     &to(0)    &trans
            >;
        };
		
	// QWERTY layer for plebs
		qwt {
            bindings = <
    &kp Q     &kp W    &kp E     &kp R     &kp T                      	  &kp Y     &kp U     &kp I     &kp O     &kp P
	&kp A     &kp S    &kp D     &kp F     &kp G                       	  &kp H     &kp I     &kp J     &kp K     &kp L
    &kp Z     &kp X    &kp C     &kp V     &kp B                       	  &kp N     &kp M     &kp COMMA &kp PERIOD &kp FSLH
              &trans    &trans                                                                &trans    &trans
                                  &trans    &trans                        &trans    &trans
                                            &trans 	 &trans   	&trans    &trans
                                            &trans   &trans     &to(0)    &trans
            >;
        };
		
	// League of Legends layer
		lge {
            bindings = <
    &none     &kp N1   &kp N2    &kp N3    &kp N4                      	  &none		&none	  &none	    &none	  &none
	&kp LSHFT &kp Q    &kp W     &kp E     &kp R                      	  &none		&none	  &none	    &none	  &none
    &kp LCTRL &none    &none     &kp D     &kp F                      	  &none		&none	  &none	    &none	  &none
              &trans   &trans                                                                 &trans    &trans
                                  &kp LALT  &trans                        &trans    &trans
                                            &trans 	 &trans   	&trans    &trans
                                            &to(0)   &trans     &to(0)    &trans
            >;
        };
    };
};
