#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -------------------------------------------------------------------------------------------------------------------------
// |    B    |    Y    |    O    |    U    |    '    |                   |    L    |    D    |    W    |    G    |    Q    |
// |    C    |    I    |    E    |    A    |    .,   |                   |    H    |    T    |    S    |    N    |    J    |
// |    Z    |    X    |    V    |    K    |    ;    |                   |    R    |    M    |    F    |    P    |   {2}   |
//           |   TAB   |    ESC  |                                                           |   WIN   |   CTX   |
//                               |   LSHFT |  SPACE  |                   |SPC + ALT|ENTR+SHFT|
//                                         |  LCTRL  |   LALT  |  BSPC   |   DEL   |
//                                         |  Raise  |   ENTER |   GUI   |  Lower  |
            bindings = <
    &kp B     &kp Y    &kp O     &kp U     &kp APOS                       &kp L     &kp D     &kp W     &kp G     &kp Q
    &kp C     &kp I    &kp E     &kp A     &kp PERIOD                     &kp H     &kp T     &kp S     &kp N     &kp J
    &kp Z     &kp X    &kp V     &kp K     &kp SEMI                       &kp R     &kp M     &kp F 	&kp P  	  &kp TILDE
              &kp TAB  &kp ESC                                                                &kp LWIN  &kp K_CONTEXT_MENU
                                 &mt LSHFT &mt SPACE                   	  &kp RSHFT &kp TILDE
                                           &kp LCTRL &kp LALT  &kp TILDE  &kp TILDE
                                           &kp TILDE &kp ENTER &kp BSPC   &kp DEL
            >;
        };
    };
};
