#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

#define DEFAULT 0
#define SYM   	1
#define NAV   	2
#define FXN	3
#define MSE 	4
#define SCL 	5
#define QWT	6
#define LGE	7
// Would love to have a greek layer :(

/ {
	macros {
		deg: deg {
			label = "deg";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_release &kp LSHFT>
				, <&macro_press   &kp LALT>
				, <&macro_tap     &kp KP_N0 &kp KP_N1 &kp KP_N7 &kp KP_N6>
				, <&macro_release &kp LALT>
				;
		};
		cut: cut {
			label = "cut";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_press   &kp LCTRL>
				, <&macro_tap     &kp X>
				, <&macro_release &kp LCTRL>
				;
		};
		cpy: cpy {
			label = "cpy";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_press   &kp LCTRL>
				, <&macro_tap     &kp C>
				, <&macro_release &kp LCTRL>
				;
		};
		pst: pst {
			label = "pst";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_press   &kp LCTRL>
				, <&macro_tap     &kp V>
				, <&macro_release &kp LCTRL>
				;
		};
		udo: udo {
			label = "udo";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_press   &kp LCTRL>
				, <&macro_tap     &kp Z>
				, <&macro_release &kp LCTRL>
				;
		};
		rdo: rdo {
			label = "rdo";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_press   &kp LCTRL>
				, <&macro_tap     &kp Y>
				, <&macro_release &kp LCTRL>
				;
		};
		th: th {
			label = "th";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_tap     &kp T>
				, <&macro_release &kp RSHFT>
				, <&macro_tap     &kp H>
				;
		};
		wh: wh {
			label = "wh";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_tap     &kp W>
				, <&macro_release &kp RSHFT>
				, <&macro_tap     &kp H>
				;
		};
		ch: ch {
			label = "ch";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_tap     &kp C>
				, <&macro_release &kp RSHFT>
				, <&macro_tap     &kp H>
				;
		};
		sh: sh {
			label = "sh";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_tap     &kp S>
				, <&macro_release &kp RSHFT>
				, <&macro_tap     &kp H>
				;
		};
		ph: ph {
			label = "ph";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_tap     &kp P>
				, <&macro_release &kp RSHFT>
				, <&macro_tap     &kp H>
				;
		};
		gh: gh {
			label = "gh";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_tap     &kp G>
				, <&macro_release &kp LSHFT>
				, <&macro_tap     &kp H>
				;
		};
		qu: qu {
			label = "qu";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_tap     &kp Q>
				, <&macro_release &kp LSHFT>
				, <&macro_tap     &kp U>
				;
		};
		ing: ing {
			label = "ing";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_tap     &kp I &kp N &kp G>
				;
		};
	};
	combos {
		compatible = "zmk,combos";
		combo_ch {
			timeout-ms = <30>;
			key-positions = <1 12>;
			bindings = <&ch>;
			};
		combo_wh {
			timeout-ms = <30>;
			key-positions = <2 13>;
			bindings = <&wh>;
			};
		combo_ph {
			timeout-ms = <30>;
			key-positions = <3 12>;
			bindings = <&ph>;
			};
		combo_sh {
			timeout-ms = <30>;
			key-positions = <11 12>;
			bindings = <&sh>;
			};
		combo_th {
			timeout-ms = <30>;
			key-positions = <12 13>;
			bindings = <&th>;
			};
		combo_gh {
			timeout-ms = <30>;
			key-positions = <17 28>;
			bindings = <&gh>;
			};
		combo_qu {
			timeout-ms = <30>;
			key-positions = <16 17>;
			bindings = <&qu>;
			};
		combo_ing {
			timeout-ms = <30>;
			key-positions = <18 19>;
			bindings = <&ing>;
			};
	};
	behaviors {
		mo_tog: behavior_mo_tog {
			compatible = "zmk,behavior-hold-tap";
			label = "mo_tog";
			#binding-cells = <2>;
			flavor = "hold-preferred";
			tapping-term-ms = <200>;
			bindings = <&mo>, <&tog>;
		};
		mo_to: behavior_mo_to {
			compatible = "zmk,behavior-hold-tap";
			label = "mo_to";
			#binding-cells = <2>;
			flavor = "hold-preferred";
			tapping-term-ms = <200>;
			bindings = <&mo>, <&to>;
		};
		per_com: per_com {								// . ,
			compatible = "zmk,behavior-mod-morph";
			label = "per_com";
			#binding-cells = <0>;
			bindings = <&kp PERIOD>, <&kp COMMA>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};	
		spc_entr: spc_entr {							// SPACE ENTER
			compatible = "zmk,behavior-mod-morph";
			label = "spc_entr";
			#binding-cells = <0>;
			bindings = <&kp SPACE>, <&kp ENTER>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		bspc_del: bspc_del {							// BSPC DEL
			compatible = "zmk,behavior-mod-morph";
			label = "bspc_del";
			#binding-cells = <0>;
			bindings = <&kp BSPC>, <&kp DEL>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		R3C1: R3C1 {								// I want this to be bspc, del, or layer
			compatible = "zmk,behavior-hold-tap";
		    	label = "R3C1";
		    	#binding-cells = <2>;
		    	bindings = <&mo>, <&spc_entr>;
		    	tapping-term-ms = <200>;
		};
		R3C5: R3C5 {								// I want this to be bspc, del, or layer
			compatible = "zmk,behavior-hold-tap";
		    	label = "R3C5";
		    	#binding-cells = <2>;
		    	bindings = <&mo>, <&bspc_del>;
		    	tapping-term-ms = <200>;
		};
		hm: balanced_homerow_mods {
			compatible = "zmk,behavior-hold-tap";
			label = "HOMEROW_MODS";
			#binding-cells = <2>;
			tapping-term-ms = <200>;    // <---[[moderate duration, was 200]]
			quick-tap-ms = <50>;
			flavor = "balanced";
			bindings = <&kp>, <&kp>;
		};
		td_mse: tap_dance_mouse {
		    compatible = "zmk,behavior-tap-dance";
		    label = "TAP_DANCE_MOD_TAP";
		    #binding-cells = <0>;
		    tapping-term-ms = <200>;
		    bindings = <&lt MSE I>, <&to(4)>;
		};
	};

	keymap {
		compatible = "zmk,keymap";

        default_layer {
// -------------------------------------------------------------------------------------------------------------------------
// |    Q    |    C    |    W    |    P    |    V    |                   |    H    |    Y    |    O    |    K    |    Z    |
// |    R    |    S    |    N    |    T    |    .    |                   |    '    |    U    |    E    |    A    |    I    |
// |    X    |    M    |    L    |    D    |    ;    |                   |    -    |    F    |    J    |    G    |    B    |
//           |         |         |                                                           |         |         |
//                               |   ESC   |  SPACE  |                   |    x    |  ENTER  |
//                                         |         |  LSHFT  |    x    |  BSPC   |
//                                         |         |         |         |  layer  |
            bindings = <
&kp Q		&kp C		&kp W		&kp P		&kp V			&kp H		&kp Y		&kp O		&kp K		&kp Z
&hm LGUI R	&hm LALT S	&hm LCTRL N	&hm LSHFT T	&per_com		&kp APOS	&hm RSHFT U	&hm RCTRL E	&hm RALT A	&lt MSE I
&kp X		&kp M		&kp L		&kp D		&kp SEMI		&kp MINUS	&kp F		&kp J		&kp G		&kp B
		&none		&none                                                                  			&none		&none
                               	&lt FXN ESC	&spc_entr						&none		&bspc_del
                                           	&none		&lt NAV TAB		&none		&to(4)
						&to(5)		&to(6)			&mo_tog 1 1	&lt NAV ENTER    
            >;
        };

	// Symbolic layer
        sym {
			bindings = <
&kp EXCL	&kp AT		&kp HASH	&kp DLLR	&kp PRCNT		&kp CARET	&kp AMPS	&deg     	&kp EQUAL     	&kp QMARK
&hm LGUI LBRC 	&hm LALT LBKT	&hm LCTRL LPAR	&hm LSHFT BSLH	&trans			&trans		&hm RSHFT FSLH	&hm RCTRL RPAR	&hm RALT RBKT	&kp RBRC
&kp GRAVE 	&kp LT		&kp ASTRK	&kp PLUS	&trans			&trans 		&kp MINUS	&kp FSLH	&kp GT		&kp PIPE
		&trans		&trans											&trans  	&trans
				&trans    	&trans							&trans		&trans
						&trans		&trans			&trans		&trans
						&trans		&trans			&to(0)		&to(0)
            >;
        };

	// Navigation layer
        nav {
            bindings = <
&bt BT_CLR	&kp K_APP	&kp C_BRI_UP	&kp C_VOL_UP	&kp C_PREV              &kp PG_UP	&kp HOME	&kp PSCRN 	&kp PAUSE_BREAK	&bt BT_CLR
&kp LGUI	&kp LALT	&kp LCTRL	&kp LSHFT	&kp C_PP                &kp INS		&kp LEFT	&kp DOWN  	&kp UP		&kp RIGHT  
&udo		&rdo		&kp C_BRI_DN	&kp C_VOL_DN	&kp C_NEXT              &kp PG_DN	&kp END		&cpy		&cut		&pst
		&trans		&trans											&trans		&trans
				&trans		&trans							&trans		&trans
						&trans		&trans			&trans		&trans
						&trans		&trans			&to(0)		&trans
            >;
        };
		
	// Funco-numeric key layer
		fxn {
            bindings = <
&kp F1		&kp F2		&kp F3    	&kp F4		&kp F5        		&kp F6    	&kp F7		&kp F8    	&kp F9		&kp F10 
&hm LGUI KP_N1 	&hm LALT KP_N2	&hm LCTRL KP_N3	&hm LSHFT KP_N4 &kp KP_N5 		&kp KP_N6 	&hm RSHFT KP_N7 &hm RCTRL KP_N8 &hm RALT KP_N9 	&hm RGUI KP_N0
&none     	&none  		&none 	  	&none 		&kp F11         	&kp F12 	&none		&none		&none		&none    
              	&trans    	&trans                                                                			&trans		&trans
                                &trans		&trans                        				&trans    	&trans
                                            	&trans 	 	&trans   		&trans    	&trans
                                            	&trans   	&trans     		&to(0)    	&trans
            >;
        };
	
	// mouse layer
		mse {
            bindings = <
&trans		&trans		&trans		&trans		&trans			&trans 		&trans		&trans		&trans		&trans
&trans		&trans		&trans		&trans		&trans			&trans 		&mkp LCLK 	&mkp RCLK 	&mo SCL		&mo_to 4 1
&trans 		&trans		&trans		&trans		&trans			&trans 		&trans		&trans		&trans		&to(0)
		&trans		&trans											&trans		&trans
				&trans		&trans							&trans		&trans
                                            	&trans 	 	&trans			&trans		&trans
                                            	&to(0)   	&trans			&to(0)		&trans
            >;
        };
		
		
	// scroll layer
		scl {
            bindings = <
&trans		&trans		&trans		&trans		&trans			&trans 		&trans		&trans		&trans		&trans
&trans		&trans		&trans		&trans		&trans			&trans 		&trans 		&trans 		&trans		&trans
&trans 		&trans		&trans		&trans		&trans			&trans 		&trans		&trans		&trans		&trans
		&trans		&trans											&trans		&trans
				&trans		&trans							&trans		&trans
                                            	&trans 	 	&trans			&trans		&trans
                                            	&to(0)   	&trans			&to(0)		&trans
            >;
        };
		
	// QWERTY layer for plebs
		qwt {
            bindings = <
    &kp Q     &kp W    &kp E     &kp R     &kp T                      	  &kp Y     &kp U     &kp I     &kp O     &kp P
	&kp A     &kp S    &kp D     &kp F     &kp G                       	  &kp H     &kp I     &kp J     &kp K     &kp L
    &kp Z     &kp X    &kp C     &kp V     &kp B                       	  &kp N     &kp M     &kp COMMA &kp PERIOD &kp FSLH
              &trans    &trans                                                                &trans    &trans
                                  &trans    &trans                        &trans    &trans
                                            &trans 	 &trans   	&trans    &trans
                                            &trans   &trans     &to(0)    &trans
            >;
        };
		
	// League of Legends layer
		lge {
            bindings = <
    &none     &kp N1   &kp N2    &kp N3    &kp N4                      	  &none		&none	  &none	    &none	  &none
	&kp LSHFT &kp Q    &kp W     &kp E     &kp R                      	  &none		&none	  &none	    &none	  &none
    &kp LCTRL &none    &none     &kp D     &kp F                      	  &none		&none	  &none	    &none	  &none
              &trans   &trans                                                                 &trans    &trans
                                  &kp LALT  &trans                        &trans    &trans
                                            &trans 	 &trans   	&trans    &trans
                                            &to(0)   &trans     &to(0)    &trans
            >;
        };
    };
};

/*
	// trans layer
		trans {
            bindings = <
&trans		&trans		&trans		&trans		&trans			&none		&none		&none		&none		&none
&trans		&trans		&trans		&trans		&trans			&none		&none		&none		&none		&none
&trans 		&trans		&trans		&trans		&trans			&none		&none		&none		&none		&none
		&trans		&trans											&trans		&trans
				&trans		&trans							&trans		&trans
                                            	&trans 	 	&trans			&trans		&trans
                                            	&to(0)   	&trans			&to(0)		&trans
            >;
        };
*/
