if SHIELD_ECLIPTIC_LEFT

config ZMK_KEYBOARD_NAME
    default "Ecliptic Left"

endif

if SHIELD_ECLIPTIC_RIGHT

config ZMK_KEYBOARD_NAME
    default "Ecliptic Right"
    
config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y
    
config ZMK_USB
    default y
endif

if SHIELD_ECLIPTIC_LEFT || SHIELD_ECLIPTIC_RIGHT

config ZMK_SPLIT
    default y
endif
