if SHIELD_CHOCOFI_LEFT

config ZMK_KEYBOARD_NAME
    default "Chocofi Left"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_CHOCOFI_RIGHT

config ZMK_KEYBOARD_NAME
    default "Chocofi Right"
    

endif

if SHIELD_CHOCOFI_LEFT || SHIELD_CHOCOFI_RIGHT

config ZMK_SPLIT
    default y
endif
